%h2 User List

-# Missing search functionality & filter

- @users.each do |user|
  .user_div
    %a.breeder{href: user_url(user)}
      %h3= user.name
      = image_tag user.image.url(:medium)

    .level_div
      %h3 Level
      .level_info= user.level

    .dragonfly_div
      %h3= user.dragonfly.name
      = image_tag user.dragonfly.image.url(:medium)

    .breeding_div
      %h3 Breeding Time
      .breeding_info= user.dragonfly.breeding_time
